@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col content px-4 scrollable-column">
                @Body
            </div>
            <div class="col content px-4 scrollable-column">
                @Body
            </div>
        </div>
    </div>
</div>
