@using DIGOS.Ambassador.Plugins.Transformations.Extensions
@using DIGOS.Ambassador.Plugins.Transformations.Transformations
<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">Species Creator</a>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        @foreach (var bodypart in this.AvailableBodyparts)
        {
            <li class="nav-item px-3">
                <a class="nav-link active" onclick=@(async () => await OnPartClicked(bodypart))>
                    <span class="oi @(bodypart.IsAdded ? "oi-trash" : "oi-plus")" aria-hidden="true"></span> @bodypart.Bodypart
                </a>
            </li>
        }
    </ul>
</div>

@functions {
    List<AvailableBodypart> AvailableBodyparts = new List<AvailableBodypart>();

    bool collapseNavMenu = true;

    /// <inheritdoc />
    protected override Task OnInitAsync()
    {
        foreach (var bodypart in Enum.GetValues(typeof(Bodypart)).Cast<Bodypart>().Where(b => !b.IsComposite() && b.IsGenderNeutral()))
        {
            this.AvailableBodyparts.Add(new AvailableBodypart(bodypart));
        }

        return Task.CompletedTask;
    }

    Task OnPartClicked(AvailableBodypart bodypart)
    {
        bodypart.IsAdded = !bodypart.IsAdded;
        return Task.CompletedTask;
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
